/* Prevent adjustments of font size after orientation changes.  */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    height: 100%;
}
  
/*---- apply a natural box layout model to all elements -------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: $defaultFont;
    font-weight: $normalWeight;
    color: $fontColor;
    background-color: rgb(241, 240, 238);
}

#headerWrapper {
    color: $secondaryColor;
}
header {
    display: flex;
    align-items: center;
    padding: 1rem $gutter;
    gap: 10px;
    h1 {
        margin: 0;
        font-size: 1.4rem;
        font-weight: $boldWeight;
    }
}

#navWrapper {
    background-color: darken($primaryColor, 30%);
}

nav {
    ul li a {
        color: rgb(224, 224, 224);
        text-decoration: none;
        display: block;
        padding: .9rem 2vw;
        text-align: center;
    }
    ul {
        list-style-type: none;
        padding: .5rem;
        margin: 0;
    }

    ul li a:hover {
        text-decoration: underline 4px rgb(171, 171, 171);
    } // end hover
    
    ul li.active a {color: lighten($secondaryColor, 20%)} //end active
} // end nav


//main
main {
    .hero img {
        width: 100%;
        height: auto;
    }
    h2 {
        padding: 0 $gutter;
    }
}

video {
    width: 90%;
    margin-left: 5%
}

details {
    margin: 1rem 20px;
    background-color: lighten($secondaryColor, 35%);
    padding: 1rem;
}
summary {
    font-size: 1.2rem;
}


// begin footer
#footerWrapper {
    padding: .8rem $gutter;
    p {
        margin: 0;
        font-weight: $lightWeight;
        text-align: center;
    }
}